* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header {
    background-image: url(fon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100svh;
    position: relative;

    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background: rgba(0,0,0,0.35);

    position: relative;
    z-index: 2;
}
.logo {
    color: rgb(235, 225, 228);
    font-size: clamp(18px, 2vw, 26px);
    font-weight: bold;
}
.links {
    display: flex;
    gap: 30px;
}
.links a {
    color: #ffe6e6;
    text-decoration: none;
    font-size: clamp(14px, 1.2vw, 18px);
    transition: transform 0.3s ease;
}
.links a:hover {
    transform: scale(1.1);
    text-shadow: 0 0 6px rgba(255, 182, 193, 0.8),
                 0 0 12px rgba(255, 182, 193, 0.5);
}
.quote-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1000px;
    padding: clamp(30px, 5vw, 70px);

    text-align: center;

    background: rgba(255, 255, 255, 0.116);
    border-radius: 20px;
    backdrop-filter: blur(6px);

    font-family: Georgia, serif;

    opacity: 0;
    animation: fadeIn 3.5s ease-out forwards;
    animation-delay: 0.5s; 
    color: white;
    
    opacity: 0;
}
.quote {
    font-size: clamp(18px, 2.5vw, 36px);
    line-height: 1.5;
    color: #f5eeef;
}
.author {
    margin-top: 15px;
    font-size: clamp(14px, 1.5vw, 22px);
    color: rgba(255,255,255,0.7);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

/* ===== для телефона ===== */
@media (max-width: 768px) {
    header {
        background-position: 90% center;
    }

    .top {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .quote-box {
        max-width: 90%;
        padding: 20px;
    }
}